@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administração da Oficina</h1>
    <p>Leia: <a href="https://learn.microsoft.com/aspnet/core">Para saber como esse Software foi feito abra o link</a>.</p>
</div>


